<section class="sidebar">
    <div class="header">
      <!-- <a href="#"><span class="focus">A</span><span class="unfocus">ngel</span></a> -->
      <a href="#"><img src="../../../../assets/logo.png" alt="" srcset="" style="height: 15vh;"/></a>

    </div>
    <!-- <div class="separator-wrapper">
      <hr class="separator" />
      <label for="minimize" class="minimize-btn">
        <input type="checkbox" id="minimize" />
        <i class="fa-solid fa-angle-left"></i>
      </label>
    </div> -->
    <div class="navigation">
      <div class="section main-section">
        <ul class="items">
            <li class="item">
                <a href="#">
                  <i class="fa-solid fa-house"></i>
                  <span class="item-text">Dashboard</span>
                  <span class="item-tooltip">Dashboard</span>
                </a>
              </li>
          <li class="item">
            <a href="#">
              <i class="fa-solid fa-house"></i>
              <span class="item-text">Add Customer</span>
              <span class="item-tooltip">Add Customer</span>
            </a>
          </li>
          <li class="item">
            <a href="#">
              <i class="fa-solid fa-user"></i>
              <span class="item-text">View All Customers</span>
              <span class="item-tooltip">View All Customers</span>
            </a>
          </li>
          <li class="item">
            <a href="#">
              <i class="fa-solid fa-file"></i>
              <span class="item-text">Generate New Bill</span>
              <span class="item-tooltip">Generate New Bill</span>
            </a>
          </li>
          <li class="item">
            <a href="#">
              <i class="fa-solid fa-calendar"></i>
              <span class="item-text">View All Bills</span>
              <span class="item-tooltip">View All Bills</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>