.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #178bb8;
    color: white;
    font-weight: 400;
}

.btn-primary {
    background-color: #178bb8;
    border-color: #178bb8;
    color: white;
}

.btn-outline-primary {
    color: #178bb8;
    border: 1px solid #178bb8;
    background-color: transparent;
  }
  
  .btn-outline-primary:hover {
    background-color: #178bb8;
    color: white;
  }
  