<div class="breadcrumb">
    <h4 style="font-weight: 400;">Add Customer</h4>
</div>
<div class="separator-breadcrumb border-top mb-4"></div>

<div class="p-2">
    <form [formGroup]="customer_form">
        <div class="row">
            <h5 style="font-weight: 400;">Customer Details</h5>
            <div class="col-6 mb-2 mt-2">
                <label>Type<span class="text-danger">*</span></label>
                <select class="form-control form-control-sm" formControlName="customer_type">
                    <option value="Individual">Individual</option>
                    <option value="Organisation">Organisation</option>
                </select>
            </div>
            <div class="col-6 mb-2 mt-2">
                <label>Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" formControlName="name" placeholder="Enter Name" />
            </div>
    
            <div class="col-6 mb-2">
                <label>Phone Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" formControlName="mobile_number"
                    placeholder="Enter Phone Number" />
            </div>
    
            <div class="col-6 mb-2">
                <label>Email Address</label>
                <input type="email" class="form-control form-control-sm" formControlName="email_address"
                    placeholder="Enter Email Address" />
            </div>
    
            <div class="separator-breadcrumb border-top mt-2 mb-2"></div>
            <h5 style="font-weight: 400;">Billing Details</h5>
    
            <div class="col-6 mb-2">
                <label>Address<span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-sm" formControlName="billing_address" placeholder="Enter Address" />
            </div>
    
            <div class="col-6 mb-2">
                <label>GSTIN Number (Optional)</label>
                <input type="text" class="form-control form-control-sm" formControlName="gstin_no" placeholder="Enter GST Number" />
            </div>
    
            <div class="col-6 mb-2">
                <label>State<span class="text-danger">*</span></label>
                <select class="form-control form-control-sm" formControlName="state">
                    <option *ngFor="let val of states" [value]="val">{{val}}</option>
                </select>
            </div>
    
            <div class="col-6 mb-2">
                <label>State Code</label>
                <input type="text" class="form-control form-control-sm" formControlName="state_code" placeholder="Enter State Code" />
            </div>
        </div>
    </form>
</div>

<div class="p-2">
    <button (click)="create_customer()" class="btn btn-sm" style="background-color: #178bb8; color: white;">Create Customer</button>
</div>